{% load static %}
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #4ba35b; padding: 10px 20px; position: relative;">
      <a class="navbar-brand d-flex align-items-center text-white" href="{% url 'scan:homepage' %}">
        <img src="{% static 'images/sber_logo.png' %}" alt="Сбербанк" style="height: 30px;">
        Мой СберПрофиль
      </a>

      {% if user.is_authenticated %}
        <!-- Если пользователь авторизован -->
        <div class="dropdown">
          <button class="btn btn-outline-light dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false"><a class="text-decoration-none text-reset"
            href="{% url 'scan:profile' %}">Профиль</a></button>
            <form action="{% url 'logout' %}?next={% url 'scan:homepage' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-light dropdown-toggle">Выход</button>
          </form>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#">Мой профиль</a></li>
            <li><a class="dropdown-item" href="#">Друзья</a></li>
            <li><hr class="dropdown-divider"></li>
            <li></li>
          </ul>
        </div>
      {% else %}
        <!-- Для гостя: кнопки входа и регистрации -->
      {% endif %}

    </div>
  </nav>
    <div class="sber-kot-wrapper">
        <img src="{% static 'images/sber_kot.png' %}" alt="СберКот" class="sber-kot-img">
    </div>
</header>
<style>
    .sber-kot-wrapper {
      position: absolute; /* или fixed, если хотите, чтобы всегда было видимо */
      top: 8%; /* по вертикали центровать */
      right: 0px; /* отступ справа */
      transform: translateX(-110%); /* поднимаем на половину высоты для вертикального выравнивания */
      z-index: -1; /* чтобы было выше других элементов */
    }

    .sber-kot-img {
      height: 760px; /* или другой размер */
      display: block; /* чтобы не было отступов */
    }

</style>